.page-content
  // BEGIN PAGE CONTAINER
  .container-fluid
    // BEGIN PAGE HEADER
    .row-fluid
      .span12
        // BEGIN PAGE TITLE & BREADCRUMB
          h3.page-title
            | 欢迎使用智能门锁管理系统
            small --蘑菇公寓
        // END PAGE TITLE & BREADCRUMB
        .portlet.box(class="#{me.settings.color}")
          .portlet-title
            .caption
              i.icon-reorder
              | 公寓概览
          .portlet-body
            .row-fluid
              P
                | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;蘑菇租房是业内领先的白领租房平台，旗下拥有精品单身白领公寓品牌蘑菇公寓，创立于2014年，总部设于上海，并已进驻北京、广州、深圳、杭州等多个一线城市。
                | 作为国内专业领先的O2O白领租房平台，蘑菇租房广泛整合城市房屋租赁资源，满足城市各类白领的租房需求，延伸拓展白领租房生活中的衣、食、住、行等多元化产品和服务，创建互联网时代租房生态产业链。
                | 庞大的用户群体、先进的运营模式吸引强劲资本的青睐，成立至今，获得韩国KTB、IDG资本、中国平安、海通证券等多个国内外知名投资机构B+轮融资。 “让我们住得更好”是蘑菇租房的长远使命。
              p
                | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;目前，蘑菇租房基于PC和APP两个端口，以真实、诚信为基础，汇聚城市中整租、合租、单身公寓等不同类型的真实、优质租赁房源，为用户提供便捷的在线租房服务。
                | 同时，在业内率先推行付一押一、零佣金租房，线上APP提供水电煤缴纳服务。蘑菇租房平台连接租客、专营租赁的企业或个人，实现租房资源的高效配置和流转，控制找房风险，节约租房成本。
                | 对于租客，找房租房如自来水一般易得，对于房源经营者，房源流通快速高效，多方共赢。 此外，向租房人群提供多元化增值优惠和服务，囊括衣、食、住、行的打折优惠，主办各类白领聚会活动，构建体验式真实居住社区，帮助人们实现以更低的社会成本获得更好居住体验。
            .form-section
            .row-fluid
              .span6#depart_chart

              .span6#renter_chart
            .row-fluid(style="text-align: center")
              span#index_summary

    // END PAGE HEADER
  // END PAGE CONTAINER