.modal#verify_pwd_modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
        h4.modal-title 身份验证
      .modal-body(style="padding: 8%;")
        .form.form-horizontal
          .control-group
            label.control-label 请输入密码:
            .controls
              input#oldPwd.m-wrap.medium(type='password' maxlength="18")
      .modal-footer
        .btn(data-dismiss='modal') 取消
        #verifyPwdBtn.btn.blue 确认