.modal#warning_modal.fade
  .modal-dialog
    .modal-content
      .modal-body(style="padding: 8%;")
        .row-fluid
          i.icon-warning-sign.big(style="color: brown")

      .modal-footer
        .btn(data-dismiss='modal') 取消
        #actionBtn.btn.red 确认
