ul#rClkMenu.dropdown-menu
  li#checkIn
    a(href='#')
      |  入住
  li#checkOut
    a(href='#')
      |  退房
  li#renters
    a(href='#')
      |  人员信息
  li#recharge
    a(href='#')
      |  帐户充值
  li#bills
    a(href='#')
      |  历史帐单
  li#switchOn
    a(href='#')
      |  开闸送电
  li#switchOff
    a(href='#')
      |  拉闸断电
  li.divider
  li#tempPwd
    a(href='#')
      |  临时密码
  li#makeCard
    a(href='#')
      |  房卡授权