ul#rClkMenu.dropdown-menu
  li#checkIn
    a(href='#')
      |  入住
  li#checkOut
    a(href='#')
      |  退房
  li#recharge
    a(href='#')
      |  充值
  li#switchOn
    a(href='#')
      |  送电
  li#switchOff
    a(href='#')
      |  断电
  li.divider
  li#tempPwd
    a(href='#')
      |  临时密码
  li#makeCard
    a(href='#')
      |  发卡